.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.right-container{
  min-width: 20%;
  margin-top: 5%;
  width: 50%;
  margin-left: 10px;
  
}

.img-canvas{
  border: solid black 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;

}

.top-container{
  display: flex;
  vertical-align: top;
}

.text-form{
  padding: 10px;
  float: left;
  
}

.meme-generator{
  text-align: center;
}

.meme-library{
  display: flex;
  overflow-x: auto;
  width: 100%;
}
.meme-library-container{
  text-align: left;
}

.memeBox{
  padding-left: 10%;
  padding-right: 10%;
}

#toptext{
  position: absolute;
  top: 32%;
  padding-left: 25%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;

}

#bottomtext{
  position: absolute;
  bottom: 30%;
  padding-left: 25%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;

}


#toptexttwo{
  position: absolute;
  top: 38%;
  padding-left: 25%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;

}

#bottomtexttwo{
  position: absolute;
  bottom: 24%;
  padding-left: 25%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;

}

